.container .row {
  min-height: 100vh;
  margin-bottom: 0px;
}

p.flow-text {
  margin-bottom: 40px !important;
  text-align: justify;
}
p.flow-text:last-child {
  margin-bottom: 0px !important;
}


.social-icons li {
  display: inline-block;
  padding: 0px 9px;
  font-size: 30px;
  line-height: 30px;
}
